@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c52);
    }
    section{
        height: 300px;
        width: 80vw;
        transition: width 1s, height 1s;
        transition-timing-function: ease;

    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c52);
    }
    section{
        height: 350px;
        width: 950px;
        transition: width 1s, height 1s;
        transition-timing-function: ease;
    }
    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: left;
        width: 50%;
    }
    #formulario h1{
        font-size: 2em;
    }
    #formulario p{
        font-size: 1.2em;
    }
}